*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #35b968;
    transition: all 0.5s ease;
}
.name-field,.password-field,.email-field,.finish-field{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width:400px;
    height: 50px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease ;
}
input{
    flex: 1;
    outline: none;
    height: 100%;
    border: none;
}
.name-field i,.password-field i,.email-field i, .finish-field i{
    padding: 10px;
 cursor: pointer;
}
div.hidden{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,50%);
}
div.active{opacity: 1;
pointer-events: all;
transform: translate(-50%,-50%);}




@keyframes shake {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(10deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}










